@model IEnumerable<Circuitos.Models.Circuito>
@{
    ViewData["Title"] = "Lista de Circuitos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Adicionar um circuito</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Pais)</th>
            <th>@Html.DisplayNameFor(model => model.Cidade)</th>
            <th>@Html.DisplayNameFor(model => model.Tamanho)</th>
            <th>@Html.DisplayNameFor(model => model.NumeroCurvas)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Pais)</td>
                <td>@Html.DisplayFor(modelItem => item.Cidade)</td>
                <td>@Html.DisplayFor(modelItem => item.Tamanho)</td>
                <td>@Html.DisplayFor(modelItem => item.NumeroCurvas)</td> 
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.CircuitoID }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.CircuitoID }) |
                    @Html.ActionLink("Excluir", "Delete", new { id = item.CircuitoID })
                </td>
            </tr>
        }
    </tbody>
</table>