@model IEnumerable<Circuitos.Models.Volta>

@{
    ViewData["Title"] = "Lista de Voltas";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Nova Volta</a>
<p>
    <a asp-action="CarrosMaisUtilizados" class="btn btn-info">Carros mais utilizados</a>
    <a asp-action="PaisesComMaisDe3Voltas" class="btn btn-info">Países com mais de 3 voltas</a>
</p>

</p>

<table class="table">
    <thead>
        <tr>
            <th>Carro</th>
            <th>Circuito</th>
            <th>Tempo (s)</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Carro.Modelo</td>
                <td>@item.Circuito.Nome</td>
                <td>@item.Tempo</td>
                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.VoltaID">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.VoltaID">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.VoltaID">Excluir</a>
                </td>
            </tr>
        }
        <form asp-action="FiltrarVoltasDinamico" method="get" class="mb-3">
            <div class="row">
                <div class="col">
                    <input type="text" name="pais" class="form-control" placeholder="País do circuito" />
                </div>
                <div class="col">
                    <input type="number" name="potenciaMinima" class="form-control" placeholder="Potência mínima" />
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">Filtrar</button>
                </div>
            </div>
        </form>
    </tbody>
</table>